.Dice {
  position: absolute;
  background-color: var(--neon-green);
  padding: 1.25em;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  bottom: 0;
  transform: translateY(50%);
  transition: ease-in-out 0.3s;
}

.Dice:hover,
.Dice:active {
  box-shadow: 0 0 2em 0.15em var(--neon-green);
}
