.Dice {
  position: absolute;
  background-color: var(--neon-green);
  padding: 1.25em;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  bottom: 0;
  transform: translateY(50%);
}
